.aux/Phys_Praktikum_3_xx.aux
.aux/Phys_Praktikum_3_xx.bbl
.aux/Phys_Praktikum_3_xx.bcf
.aux/Phys_Praktikum_3_xx.blg
.aux/Phys_Praktikum_3_xx.fdb_latexmk
.aux/Phys_Praktikum_3_xx.fls
.aux/Phys_Praktikum_3_xx.lof
.aux/Phys_Praktikum_3_xx.log
.aux/Phys_Praktikum_3_xx.lot
.aux/Phys_Praktikum_3_xx.out
.aux/Phys_Praktikum_3_xx.run.xml
.aux/Phys_Praktikum_3_xx.toc
Phys_Praktikum_3_xx.bcf
Phys_Praktikum_3_xx.fls
Phys_Praktikum_3_xx.run.xml
Phys_Praktikum_3_xx.synctex.gz
Phys_Praktikum_3_xx.bcf
Phys_Praktikum_3_xx.pdf
Phys_Praktikum_3_xx.run.xml
Phys_Praktikum_3_xx.synctex.gz
chapters/__latexindent_temp.tex
Preparation/damped_oscillation_example.sciprj~
